body {

    background-image: url(./images/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: cursive;
}

h1 {
    text-align: center;
    margin-top: 50px;

}


.global{
    margin-left: 30px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto
}

.jordan {
    width: 250px;
    height: 150px;
    border-radius: 10%;
    margin-right: 100px;
    margin-bottom: 20px;
    border: 2px solid rgb(85, 11, 11);
    float: left;
  
}

.jordan:hover{
    transform: scale(1.25)
}


.bar{
    margin-left: 400px;
}
.btn-delete{
    margin-left: 550px;
    margin-top: 20px;
}